<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>

    	.center-column{
		width:600px;
		margin: 30px auto;
		padding:60px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);


	}

	  	body{
		background-color: lightblue;
	}

		.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}




.butn1{
    float:left;
    position: relative;
    left:150px;

}

.butn2{
    float:right;
    position: relative;
	right:150px;
}
</style>
