<style>
.collapsible {
  background-color: MediumSeaGreen;
  color: white;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;

}

.active, .collapsible:hover {
  background-color: darkseagreen;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: MediumSeaGreen;
}

</style>