<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Valeriu Pagina  {% endblock %}</title>>
    {{ block.super }}
    Salut {{orice}}
</head>
<body>
<ul>
{% for nume in nume %}
<li style="color: {%cycle 'red' 'black' 'green' %}">
    {{ nume.user_name}} {{nume.user_age}}  {% if nume.user_age < 68 %} ceva {% else %} altceva {% endif %}
    <br>{{orice}}</br>
</li>
{% empty %}
    Sorry, n-avem!
{% endfor %}
</ul>


<ul>
{% for list in shopping_list %}
    <li style="color: {%cycle 'red' 'black' 'green' %}">
    {{ list }}
</li>
{% empty %}
    Sorry, n-avem Liste!
    <br> {{aiurea}}</br>
{% endfor %}

</ul>>

</body>
</html>